* {
    box-sizing: border-box;
}

:root {
    --neutral-white: #FFFFFF;
    --neutral-black: #000000;
    --grey-500: #5E6E85;
    --grey-300:#ACC1DE;
    --blue-900:#253347;
    --blue-500:#345FF6;
    --blue-300:#B3D3F1;
    --blue-100:#E1E7FE;
    --gradient-1:#D6FCFE;
  }

body {
    font-family: inter, sans-serif;
    margin: 0;
}
header {
    text-align: center;
}
header img {
    margin-top: 20px;
}
.hero-wrapper {
    background: linear-gradient(
  180deg,
  #D6FCFE 0%,
  #D6E6FE 100%
);
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    position: relative;
    padding-bottom: 580px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.hero h1 {
    color: var(--blue-900);
    text-align: center;
    font-size: 48px;
    line-height: 110%;
    letter-spacing: -0.05em;
    font-weight: 600;

}
.hero p {
    color: var(--grey-500);
    text-align: center;
    font-family: inter sans-serif;
    font-size: 16px;
    line-height: 150%;

}
.wrapper-form-container  {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin: 0 auto;
    max-width: 600px;
    border-radius: 30px;
    background-color: var(--neutral-white);
    padding: 32px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1)
}
.wrapper-form-container .wrapper-form {
    padding: 0;
}
.container .input-group {
    border: 1px solid var(--grey-500);
}
.container .input-group input {
    border: none;
}
form h2 {
    text-align: center;
}
.height-box {
    margin-top: 24px;
}
.metric-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.metric-group label {
    color: var(--grey-500);
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
}
.height-box label,
.weight-box label {
    color: var(--grey-500);
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
}
.input-group {
    border-radius: 12px;
    padding: 24px;
    display: flex;
    gap:10px;
    margin-bottom: 16px;
    

}
.input-group input {
    width: 100%;
    color: var(--grey-500);
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -5%;
    background-color: var(--neutral-white);
}
.input-group span {
    color: var(--blue-500);
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -5%;
}
.score-wrapper {
    font-family: inter;
    background-color: var(--blue-500);
    color: var(--neutral-white);
    border-radius: 16px;
    padding: 32px;
}
.score-wrapper h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -5%;
}
.score-wrapper p {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 0%;
}
.bmi-result-title img {
    width: 100%;
    height: auto;
    margin-top: 150px;
}
.bmi-result-title h2{
    color: var(--blue-900);
    text-align: left;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -5%;
    font-weight: 600;
}
.bmi-result-title p {
    color: var(--grey-500);
    text-align: left;
    font-family: inter sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}
.health-tips-wrapper {
    background-color: #ffffff;
    padding-top: 60px;
}
.health-tips {
    padding-bottom: 40px;
}
.health-tips h3 {
    color: var(--blue-900);
    text-align: left;
    font-size: 24px;
    letter-spacing: -5%;
    font-weight: 600;

}
.health-tips p {
    color: var(--grey-500);
    text-align: left;
    font-family: inter sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}
.limitation-bmi-wrapper {
    padding-top: 60px;
}
.limitation-bmi-title {
    padding-bottom: 60px;
}
.limitation-bmi-title h2 {
    color: var(--blue-900);
    text-align: center; 
    font-size: 32px;
    line-height: 110%;
    letter-spacing: -5%;
    font-weight: 600;
}
.limitation-bmi-title p {
    color: var(--grey-500);
    text-align: center; 
    font-family: inter, sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
}
.limitation-bmi-cards {
    width: 100%;
    box-shadow: 0 4px 20px rgba(0, 50, 150, 0.08);
    border-radius: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.limitation-bmi-cards-title {
    display: inline-block;
    vertical-align: middle;
}
.limitation-bmi-cards-title h3 {
    display: inline-block;
    vertical-align: middle;
    padding-left: 15px;
    color: var(--blue-900);
    font-size: 22px;
    line-height: 150%;
    letter-spacing: -5%;
    font-weight: 600;
}
.limitation-bmi-cards-title img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.limitation-bmi-cards-content p {
    color: var(--grey-500);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    margin-top: 0;
    
}
